In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# from textwrap import wrap

%matplotlib inline
%run cleaning_join_all.ipynb

df_join_clean = import_df_join_clean() # type: ignore

In [15]:
df_join_clean

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321190,1574008,117364417_77840596075,528720790_71583064618_169151,0,2017-05-06 23:43:27,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0,Test
321191,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:57:17,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Control
321192,2908510,814969699_90652851448,562606085_36368381773_92090,2,2017-05-10 22:56:31,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Control
321193,2908510,814969699_90652851448,562606085_36368381773_92090,1,2017-05-10 22:56:23,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Control
321194,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:56:20,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Control

## Considerations after combining the data:
### Split the data in the control and test groups

In [16]:
df_test_group = df_join_clean[df_join_clean["Variation"] == "Control"]
df_test_group

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
13,4033851,762728880_76361333336,949661017_22392791362_127391,4,2017-04-05 12:29:03,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0,Control
14,4033851,762728880_76361333336,949661017_22392791362_127391,4,2017-04-05 12:29:01,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0,Control
15,4033851,762728880_76361333336,949661017_22392791362_127391,4,2017-04-05 12:28:52,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0,Control
16,4033851,762728880_76361333336,949661017_22392791362_127391,3,2017-04-05 12:26:08,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0,Control
17,4033851,762728880_76361333336,949661017_22392791362_127391,2,2017-04-05 12:24:43,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0,Control
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321183,433098,5505424_50616523266,773565250_67577573147_389841,0,2017-05-13 15:30:47,6.0,73.0,25.0,U,2.0,34419.62,2.0,5.0,Control
321191,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:57:17,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Control
321192,2908510,814969699_90652851448,562606085_36368381773_92090,2,2017-05-10 22:56:31,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Control
321193,2908510,814969699_90652851448,562606085_36368381773_92090,1,2017-05-10 22:56:23,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Control
321194,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:56:20,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Control

### Sort the datasets by: client_id, visit_id (one customer can use the platform several times), process, and datetime

In [17]:
# Required:
# - change process_step to numeral (0 to 4)
# - evaluate which floats to change to integers
df_test_group.sort_values(by=["client_id", "visit_id", "process_step", "date_time"])

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
130192,1028,42237450_62128060588,557292053_87239438319_391157,0,2017-04-08 18:51:28,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control
130191,1028,42237450_62128060588,557292053_87239438319_391157,1,2017-04-08 18:52:17,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control
130190,1028,42237450_62128060588,557292053_87239438319_391157,1,2017-04-08 18:53:20,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control
130187,1028,42237450_62128060588,557292053_87239438319_391157,1,2017-04-08 18:59:55,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control
130186,1028,42237450_62128060588,557292053_87239438319_391157,1,2017-04-08 19:00:15,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,Control
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117589,9998346,292425655_16607136645,189177304_69869411700_783154,3,2017-03-29 15:30:25,50.0,602.0,61.5,F,2.0,149881.38,6.0,9.0,Control
117586,9998346,292425655_16607136645,189177304_69869411700_783154,3,2017-03-29 15:37:28,50.0,602.0,61.5,F,2.0,149881.38,6.0,9.0,Control
117588,9998346,292425655_16607136645,189177304_69869411700_783154,3,2017-03-29 15:37:28,50.0,602.0,61.5,F,2.0,149881.38,6.0,9.0,Control
117587,9998346,292425655_16607136645,189177304_69869411700_783154,4,2017-03-29 15:37:28,50.0,602.0,61.5,F,2.0,149881.38,6.0,9.0,Control
117227,9998921,960034051_85687824805,378424178_59565976155_8051,0,2017-04-18 11:26:31,15.0,189.0,38.0,F,2.0,30644.10,4.0,7.0,Control

- Some clients will hit errors in any step of the process and they will go to a previous step. 
### Determine which percentage of customers in any step of process are hitting errors for control, and test groups.
- If a customer has several start times, only the last one must be considered.
- If a customer hits the confirmation step several times, consider the last one as the end of the process
- Keep in mind that this is a funnel process. Therefore, not all the customers who start the process will finish it and be able to proceed to the next one.
- There are lots of customers who participated in the experiment over a limited period of time. Some of them will be faster or more successful than others, but all of them count. Therefore, we're looking for "mean" times or rates!!!



## Accordingly:
- Within the same group (control or test), are the completion rates (number of customers who reached the end of a step out of total who started) in each step the same? (... test)
- Between groups (control and test), are the completion rates (number of customers who reached the end of a step out of total who started) in each step the same? (... test)
- Within the same group (control or test), are the completion times of all the steps of the process the same? (... test)
- Between groups (control and test), are the completion times of each step the same? (...step)
- Is the error rate (number of customers who had to go to a previous step out of total) in the test group smaller than the error rate in the control group (whatever error rate is) - 5%?
- Do you find differences by age groups in control and test groups?
- Use Tableau to create graphs to summarize your findings.